@import "../../scss/mixin.scss";
@import "../../scss/variable.scss";

.arrow-icons{
    width: 21px;
    height: 21px;
    background: $yellow;
    border-radius: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    svg{
        rotate: -45deg;
    }
}