@import "../../scss/mixin.scss";
@import "../../scss/variable.scss";

@import "../../scss/mixin.scss";
@import "../../scss/variable.scss";

.intrest-item{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width:55%;
    @include typography(12px, 400, 20px);
    
    @include small-screen{
        @include typography(18px, 400, 24px)
    }
}
